.valentine-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height:100vh;
}

.image{
    height: auto;
    width: 200px;
    max-width: 100%;
}

.data-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.yesButton{
    background-color: red;
    /* border-radius: 25px; */
}

.noButton{
    border: 1px solid white;
    margin: .5rem;
    padding: .3rem;
    border-radius: 40px;
    font-weight: 500;
    background-color: pink;
}